extends layout

block content
    #board
        each agent, idx in agents
            button.agent(data-index=idx)= agent
    link(rel="stylesheet", href="/css/board.css")
    script(src="/js/board.js" defer)
