extends layout

block content
    fieldset
        legend Codenames
        p(style="font-weight: bold") Step 1
        label(for="username") Username
        input(type="text" name="username" id="username")
        p(style="font-weight: bold") Step 2
        button#create-game Create game
        p OR
        label(for="room-code") Room code
        input(type="text" name="room-code" id="room-code")
        br
        button#join-game Join game
        br
        button#show-games Show Games
        br
        button#msg-rm Message Your Room
        br
        p#msg
    script(src="/socket.io/socket.io.js")
    script(src="/js/index.js" defer)