extends layout

block content
    fieldset
        legend Codenames
        p(style="font-weight: bold") Step 1
        label(for="username") Username
        input(type="text" name="username" id="username")
        p(style="font-weight: bold") Step 2
        button#create-game Create game
        p OR
        label(for="room-code") Room code
        input(type="text" name="room-code" id="room-code" maxlength="4")
        br
        button#join-game Join game
    script(src="/js/index.js" defer)