extends layout

block content
    #pg-content(class="h-100 d-flex flex-column align-items-center justify-content-center")
        #welcome-container(class="container")
            h1#welcome-msg(class="text-white text-center") Welcome to CodeNames
        #help-container(class="container")
            p#help-msg(class="text-white text-center") type 'help' to see options
        #reply-container(class="container")
            // replies
        #form-container(class="container")
            form#input-form(class="form-inline")
                #input-container(class="input-group justify-content-center")
                    label(for="cmd" class="text-white pr-3") &gt&nbsp
                    input#cmd(autofocus name="cmd" type="text" class="bg-black text-white border-0 w-50")