extends layout

block content
    fieldset
        legend Codenames
        button#create-game Create game
        p OR
        label(for="room-code") Room code
        input(type="text" name="room-code" id="room-code" maxlength="4")
        br
        button#join-game Join game
    script(src="/js/index.js" defer)