extends layout

block content
    fieldset
        legend Codenames
        form#mode-select(action="/createGame") Game Mode: 
            input(type="radio" name="mode" id="default" value="default") 
            label(for="default") Default
            input(type="radio" name="mode" id="duet" value="duet")
            label(for="duet") Duet
            input(type="radio" name="mode" id="undercover" value="undercover")
            label(for="undercover") Undercover
            button#create-game(type='submit') Create game
        p OR
        label(for="room-code") Room code
        input(type="text" name="room-code" id="room-code" maxlength="4")
        br
        button#join-game.btn
            p Join game
            svg.icon(xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 -960 960 960")
                path(d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z")
    script(src="/js/index.js" defer)