mixin players(players)
    p Red Team
    ul#red-team
        each player in players
            if player.team === 'red'
                li= player.username
    p Blue Team
    ul#blue-team
        each player in players
            if player.team === 'blue'
                li= player.username