extends layout

block content
    if !username
        dialog
            label(for="username") Enter username
            input(type="text" name="username" id="username" autofocus)
            button(id="submit") Submit
            a(href="/") Return to main menu
        script(defer).
            window.onload = () => document.querySelector('dialog').showModal()
    
    h1 Room #{roomCode}
    button#leave-room Leave room

    block board
    
    script(src="/js/room.js" defer)