*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;
    font-family: system-ui;
    color: #333;
    background: offwhite;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.15;
}
