:root {
    --colour-red: red;
    --colour-blue: dodgerblue;
}

@layer base {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: system-ui;
        color: #333;
        background: offwhite;
    }

    p {
        margin: 0;
        line-height: 1.5;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        line-height: 1.15;
    }
}

@layer components {
    .banner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        width: 100%;
        height: 3rem;
    }

    #copy-link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
        padding: 0;
        line-height: 0;
        cursor: pointer;
    }

    .room {
        display: flex;
        flex-direction: row;
    }

    .main-panel {
        width: 50%;
    }

    .side-panel {
        width: 25%;
    }

    #board {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(5rem, auto);
        gap: 1rem;
    }

    .card {
        background: #fff;
        border: 2px solid #999;
        cursor: pointer;
    }

    .card:hover {
        background: #eee;
    }

    .card:active {
        background: #ddd;
    }

    .card:focus-visible {
        border: 2px solid #000;
        outline: none;
    }

    .card.red {
        background: var(--colour-red);
        border-color: var(--colour-red);
        color: white;
    }

    .card.blue {
        background: var(--colour-blue);
        border-color: var(--colour-blue);
        color: white;
    }

    .card.neutral {
        background: bisque;
        border-color: bisque;
    }

    .card.assassin {
        background: black;
        border-color: black;
        color: white;
    }

    #score-red {
        color: var(--colour-red);
        font-weight: bold;
    }

    #score-blue {
        color: var(--colour-blue);
        font-weight: bold;
    }
}
